{% extends 'base.html.twig' %}

{% block title %}Blog index{% endblock %}

{% block body %}
    <h1>Blog index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Author</th>
                <th>Date</th>
                <th>Comments</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for articleItem in articlesPaginated %}
            <tr>
                <td>{{ articleItem.0.title }}</td>
                <td>{{ articleItem.0.description }}</td>
                <td>{{ articleItem.email }}</td>
                <td>{{ articleItem.0.datetimeCreated ? articleItem.0.datetimeCreated|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ articleItem.cntComments }}</td>
                <td>
                    <a href="{{ path('app_article_show', {'id': articleItem.0.id}) }}">show</a>
                    <a href="{{ path('app_article_edit', {'id': articleItem.0.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}

            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}

        {{knp_pagination_render(articlesPaginated)}}
        </tbody>
    </table>

    <a href="{{ path('app_article_new') }}">Create new blog post</a>
{% endblock %}
