{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Article index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>DatetimeCreated</th>
                <th>Content</th>
                <th>actions</th>
                 <th>comments</th>
            </tr>
        </thead>
        <tbody>
        {% for articleItem in articlesPaginated %}
            <tr>
                <td>{{ articleItem.0.id }}</td>
                <td>{{ articleItem.0.title }}</td>
                <td>{{ articleItem.0.description }}</td>
                <td>{{ articleItem.0.datetimeCreated ? articleItem.0.datetimeCreated|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_article_show', {'id': articleItem.0.id}) }}">show</a>
                    <a href="{{ path('app_article_edit', {'id': articleItem.0.id}) }}">edit</a>
                </td>
                <td>{{ articleItem.cntComments }}</td>
            </tr>
        {% else %}

            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}

        {{knp_pagination_render(articlesPaginated)}}
        </tbody>
    </table>

    <a href="{{ path('app_article_new') }}">Create new</a>
{% endblock %}
