{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Blog post</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ article.datetimeCreated ? article.datetimeCreated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ article.content }}</td>
            </tr>
        </tbody>
    </table>

     <table class="table">
        <thead>
            <tr>
                <th>email</th>
                <th>comment</th>
                <th>date</th>

               
            </tr>
        </thead>
        <tbody>

        <h2>Comments</h2>


        {{ include('article_comment/_form.html.twig') }}


        {% for comment in commentsPaginated %}
            <tr>
                <td>{{ comment.email }}</td>
                <td>{{ comment.message }}</td>
                <td>{{ comment.datetimeCreated |format_datetime()  }}</td>
            </tr>
        {% else %}

            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
               {{knp_pagination_render(commentsPaginated)}}


        </tbody>
    </table>

    <a href="{{ path('app_article_index') }}">back to list</a>

    <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>

{% endblock %}
